/* Breakpoints */
$mobile-min-width: 321px;      // to-mibile
$mobile-semi-width: 568px;     // from-mobile
$mobile-max-width: 768px;      // to-desktop
$desktop-min-width: 1200px;    // from-desktop
$desktop-max-width: 1600px;

/* Sizes */
$html-min-width: 321px;
$html-max-width: 1920px;
$html-mobile-edge-offset: 15px;

/* Containers */
$container: 1080px;
