.benefit {
    padding: 60px 0 60px;
    color: var(--white);
    opacity: 0;
    transition: opacity .5s ease;
    @include to-desktop {
        padding: 80px 0 80px;
    }
}
.benefit__inner {
    max-width: 994px;
    margin: 0 auto;
}
.benefit__item {
    @include to-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & + & {
        margin-top: 40px;
        @include from-mobile {
            margin-top: 60px;
        }
        @include to-desktop {
            margin-top: 80px;
        }
    }
}
.benefit__item:nth-child(2),
.benefit__item:nth-child(4) {
    @include to-desktop {
        flex-direction: row-reverse;
    }
}
.benefit__left {
    margin-bottom: 20px;
    @include to-desktop {
        margin-bottom: 0;
        width: 49.5%;
    }
    @include from-desktop {
        width: 48%;
    }
}
.benefit__right {
    width: 100%;
    @include to-desktop {
        width: 47.7%;
    }
}
.benefit__img {
    position: relative;
    width: 100%;
    max-width: 458px;
    height: 250px;
}
.benefit__item-title {
    margin-bottom: 20px;
    font-family:var(--font-family-title);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large-semi);
    line-height: var(--line-height);
}
.benefit__item:nth-child(4) .benefit__image {
    object-position: left;
}
