.gallery {
    padding: 30px 0 30px;
    @include to-desktop {
        padding: 40px 0 40px;
    }
}
.gallery-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.gallery__tab {
    padding: 0 0 5px 0;
    font-size: var(--font-size-medium-mini);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-bottom, color .3s ease;
    & + & {
        margin-left: 40px;
        @include to-desktop {
            margin-left: 48px;
        }
    }
}
.gallery__tab.selected {
    border-bottom: 1px solid var(--black);
    cursor: initial;
}
.gallery__tab:not(.selected):hover {
    @include to-desktop {
        color: var(--white);
    }
}
.gallery-slider {
    width: 90%;
    max-width: 582px;
    @include from-mobile {
        width: 80%;
        margin: 0 auto;
    }
}
.gallery__swiper.swiper {
    overflow: initial;
}
.gallery-slider .slider-nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-width: 320px;
    height: 50px;
    margin: 20px -15px 0;
    @include from-mobile {
        width: 100%;
        margin: 20px 0 0 0;
    }
    @include to-desktop {
        margin: 30px 0 0 0;
    }
}
.gallery-slider__image {
    width: 100%;
    height: 100%;
}
.gallery__swiper-slide {
    position: relative;
    height: 322px;
    transition: height .8s ease;
    @include from-mobile {
        height: 300px;
    }
    @include to-desktop {
        &:hover {
            cursor: pointer;
        }
    }
}
.gallery-slider .swiper-slide-active {
    @include from-mobile {
        height: 336px;
    }
}
.gallery-slider .swiper-wrapper {
    @include from-mobile {
        height: 336px;
        align-items: flex-end;
    }
}
.slide-prompt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.70);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: var(--black);
    transition: font-size .3s ease, background-color .3s ease;
}
.slide-prompt:hover {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}
.last-slide .slide-prompt {
    display: flex;
}
